<!DOCTYPE html>
<head>
    <title>Poster</title>
    <link rel="stylesheet" media="screen" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="static/theme.min.css">
    <link rel="stylesheet" href="static/mytheme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">

        <div class="header big-header">Sostituzioni</div>

        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for message in messages %}
        {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
            {{ message[1] }}
        </div>
        {% endif %}

        {% if "Error" in message[1]: %}
        <div class="alert alert-danger">
            {{ message[1] }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>

        <form class="main-div" action="/postit" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group form-box">

                <div class="row boxed-div">
                    <h2>Autenticazione</h2>

                    <div class="col-md-6 mb-3">
                        <label class="input-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" placeholder="admin@liceoarzignano.it" type="email">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="input-label" for="password">Password</label>
                        <input class="form-control" id="password" name="password" placeholder="******" type="password">
                    </div>
                </div>

                <br>

                <div class="row boxed-div">
                    <h2>Programmazione</h2>

                    <label class="input-label" for="target">Sostituito</label>
                    <input class="form-control" autocomplete="off" id="target" name="target" placeholder="Mario Rossi" type="text">

                    <label class="input-label" for="location">Classe</label>
                    <input class="form-control" autocomplete="off" id="location" maxlength="3" name="location" placeholder="1A1" type="text">

                    <label class="input-label" for="day">Giorno</label>
                    <input class="form-control" id="day" name="day" type="date">

                    <label for="hour" class="input-label">Ora</label>
                    <select class="form-control" autocomplete="off" id="hour" name="hour">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>

                    <label for="replacer" class="input-label">Sostiuente</label>
                    <input class="form-control" autocomplete="off" id="replacer" name="replacer" placeholder="Luigi Verdi" type="text">

                    <label for="flags" class="input-label">Annotazioni</label>
                    <select class="form-control" autocomplete="off" id="flags" name="flags">
                        <option>Q: Quotidiano in classe</option>
                        <option>L: Lezione</option>
                        <option>O: Orario di servizio</option>
                        <option>R: Banca ore</option>
                        <option>A: Attesa conferma</option>
                    </select>
                </div>
            </div>

            <button class="btn btn-primary send-btn" type="submit">Invia</button>
        </form>
    </div>
</body>
